:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    display: grid;
    grid-template-rows: 205px 1fr;
}

header {
    background: lightgreen;
    display: grid;
    grid-template-rows: 63px 44px 33px 45px 20px;
}

#categories {
    // min-width: 1440px;
    display: flex;
    align-items: center;
    gap: 10px;
}

main {
    background: pink;
    display: grid;
    grid-template-columns: 4fr 5fr 242px;
    gap: 20px;
}

#product-images {
    padding-left: 20px;
    background: lightblue;
    display: grid;
    grid-template-columns: 40px 1fr;
}

#thumbnails {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#thumbnails img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

#image-viewer img {
    width: 100%;
    object-fit: contain;
}

#image-viewer p {
    margin: 0;
    text-align: center;
}
#product-description {
    background: orange;
}

#buy {
    background: lightcoral;
}
